@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid red;
} */

html,
body {
  scroll-behavior: smooth;
}

.item::before {
  content: " ";
  border-left: 2px solid rgb(255 190 12 / 1);
  position: absolute;
  left: 0;
  top: calc(53% + 26px);
  height: 5.6em;
}
/* .item:first-child:before {
  top: 15px;
} */
.item:last-child:before {
  height: 0 !important;
}

.slick-active .slick-dot {
  @apply bg-primary
}